@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    overflow: hidden;
}

body{
    font-family: "jost";
}

.nav{
    height: 10vh;
    display: flex;
}

.logo{
    width: 20vw;
    padding: 0 40px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.menu{
    width: 60vw;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.menu li{
    cursor: pointer;
}

.user{
    width: 20vw;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.user span{
    padding: 10px 20px;
    border-radius: 10px;
    color: #1e90ff;
    background-color: #e9f2fc;
    cursor: pointer;
}

.hero{
    height: 90vh;
    display: flex;
}

.left, .right{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    padding: 100px;
}

p, button{
    font-size: 20px;
}

.right img{
    width: 90%;
}

h1{
    font-size: 55px;
    line-height: 70px;
}

h1 span{
    color: #1e90ff;
}

button{
    padding: 20px 30px;
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: #1e90ff;
    cursor: pointer;
}

@media (width <= 768px) {
    .left{
        padding: 20px;
    }

    h1{
        font-size: 36px;
        line-height: 45px;
    }

    .menu{
        gap: 25px;
    }

    .user{
        padding: 0;
        margin: 0 50px 0 0;
    }

    .right img{
        width: 100%;
    }

    button{
        font-size: 17px;
        border-radius: 20px;
    }
}

@media (width <= 426px) {
    .menu{
        width: 0;
    }

    .logo{
        width: 50vw;
        padding: 0 0 0 15px;
    }

    .user{
        width: 50vw;
        padding: 0 15px 0 0;
        margin: 0;
    }

    .hero{
        flex-direction: column;
    }

    .left, .right{
        width: 100vw;
        height: 50vh;
    }

    button{
        padding: 15px 25px;
        border-radius: 10px;
    }

    h1{
        font-size: 30px;
        line-height: 40px;
    }

    p{
        font-size: 16px;
    }
}
