body{
    background-color: coral;
}

.head{
 color: darkblue;
}

#bglime{
    background-color: lime;
}

#bglime span{
    color: red;
}

p{
    color: white;
}

#para{
    color: green;
}

#para span{
    color: black;
    font-size: large;
}

section p{
    color: black;
}

ul{
    color: white;
}

ul li:first-child a{
    background-color: yellow;
}

ul li:last-child a{
    background-color: lightblue;
}

ol li:nth-child(2){
    color: blue;
}

ol li:nth-child(3){
    color: red;
}